{% extends "testmanager/base.html" %}
{% block login %}
<br><br>
<div class="row">
    <div class="valign-wrapper row login-box">
        <div class="col card s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <div class="card-content">
                <form method="POST">
                    <span class="card-title center">Zaloguj się</span>
                    {% csrf_token %}
                    {{ form }}
                    <br><br>
                    <div class="center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Zaloguj się</button>
                    </div>
                    <br>
                    <p class="center">Nie masz konta? <a href="{% url 'register' %}">Zarejestruj się.</a></p>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock login%}